/* custom CSS to include in generated pages */

.wy-nav-content {
    max-width: 1200px;
}

.wy-nav-side {
    position: fixed;
}

.wy-side-nav-search {
    background-color: #9e9e84;
    background-color: #888;
}

.wy-side-nav-search>a img.logo {
    width: 160px;
}


/* cursorsync formatting */

#frontdemo {
    width: 80%;
    max-width: 480px;
    margin: auto;
}

.boxes {
    display: inline-block;
 }
 
.fullWidth {
    width: 100%;
}
 
.cursorBoxContainer > div {
    height: 200px;
}
 
.cursorBox {
    height: 100%;
    /* width: 350px; */
    border: 2px solid #949494;
    border-radius: 3px;
    /* float: left; */
    position: relative;
    /* margin-right: 9px; */
}
 
.cursor > img {
    position: absolute;
    height: 80px;
    width: 80px;
    /* border: 1px solid #5D5D5D; */
    /* border-radius: 1px; */
    /* background-color: #ffff00; */
    top: 0;
    left: 0;
 }
 
.connector {
    text-align: center;
    position: relative;
}
 
.connectorLine {
    height: 50%;
    width: 110%;
    position: relative;
    left: -5%;
    border-bottom: 3px solid #949494;
}
 
.connectorInstance {
    position: relative;
    display: inline-block;
    top: -50px;
}
 
@media (max-width: 993px) {
    .connectorLine {
       height: 100%;
       width: 50%;
       position: relative;
       left: 0;
       border-bottom: none;
       border-right: 3px solid #949494;
    }
 
    .connectorInstance {
       top: -151px;
    }
 
    .connectorInstance p {margin-top: 0;background-color: #333;}
}
 
.connector img {
    /* width: 100px; */
    height: 100px;
}
