/*
 Styles for WAMP.ws

 Color Scheme:

 grey:         #7e8696
 purple:       #fa72c6

 dark purple:  #f10a9a
 */


@font-face {
   font-family: 'Source Sans Pro';
   src: url('../fonts/SourceSansPro-Regular.otf');
   font-weight: normal;
}

@font-face {
   font-family: 'Source Sans Pro';
   src: url('../fonts/SourceSansPro-It.otf');
   font-weight: normal;
   font-style: italic;
}

@font-face {
   font-family: 'Source Sans Pro';
   src: url('../fonts/SourceSansPro-Semibold.otf');
   font-weight: bold;
}

@font-face {
   font-family: 'Source Sans Pro';
   src: url('../fonts/SourceSansPro-Light.otf');
   font-weight: 300;
}

@font-face {
   font-family: 'Source Code Pro';
   src: url('../fonts/SourceCodePro-Regular.otf');
   font-weight: normal;
}

@font-face {
   font-family: 'Source Code Pro';
   src: url('../fonts/SourceCodePro-Light.otf');
   font-weight: 300;
}

@font-face {
   font-family: 'Source Code Pro';
   src: url('../fonts/SourceCodePro-Semibold.otf');
   font-weight: bold;
}


html,
body
{
   height: 100%;
   min-width: 100%;
   overflow: visible;

	margin: 0px;
   padding: 0px;
   border: 0px;
   outline: 0px;
}

body
{
   position: relative;
   background-color: #fff;
   color: #7e8696;

   font-family: "Source Sans Pro", sans-serif;
   font-size: 16px;
   line-height: 1.428571429;
}

a
{
   color: #fa72c6;
   text-decoration: underline;
}

a:visited
{
   color: #fa72c6;
}

a:hover
{
   color: #f10a9a;
}

h1
{
   font-weight: 500;
}

h2
{
   margin-top: 60px;
   margin-bottom: 20px;
   border-top: solid 2px #fa72c6;
   padding-top: 8px;
   padding-left: 12px;
}

h3
{
   color: #fa72c6;
   padding-left: 0;
   margin-top: 60px;
}

h2 + a + h3
{
   margin-top: 16px;
}

code, kbd, pre, samp, span.pre {
   font-family: 'Source Code Pro', monospace;
   font-size: 13px;
}

ul, ol {
   line-height: 1.6em;
}

h1, h2, h3 {
   font-weight: 300;
}

h1 {
   font-size: 2em;
   margin: .67em 0;
}

h2 {
   font-size: 1.5em;
   margin: .75em 0;
}

h3 {
   font-size: 1.17em;
   margin: .83em 0;
}

h4 {
   font-size: 1em;
   margin: 1.12em 0;
}

h5 {
   font-size: .83em;
   margin: 1.5em 0;
}

h6 {
   font-size: .75em;
   margin: 1.67em 0;
}

ul
{
   margin: 8px 0 0 0;
   padding: 0 0 0 20px;;
}

ul li
{
   background-image: url("../img/li_edge.png");
   background-position: 0 8px;
   background-repeat: no-repeat;
   list-style-type: none;
   line-height: 1.8em;
   padding-left: 16px;
}

#topband
{
   width: 100%;
   height: 60px;
}

#logo_wrapper
{
   position: relative;
   overflow: visible;
   min-width: 960px;
   width: 100%;
   height: 240px;
   background-image: url("../img/grid.png");
   background-repeat: repeat;
}

#logo_block
{
   position: relative;
   overflow: visible;
   width: 940px;
   min-width: 600px;
   height: 240px;
   margin: auto;
}

#logo
{
   position: absolute;
   top: 24px;
   left: 0;
}

#navbar
{
   clear: both;
   position: absolute;
   bottom: 16px;
   right: 0;
   font-weight: 600;
   font-size: 18px;
   color: #fff;
}


#navbar .navitem_selected
{
   color: #fa72c6;
}

#navbar .navitem
{
   color: #c6cad2;
   color: #8792a3;
}

#navbar a
{
   text-decoration: none;
   margin-left: 20px;
}

#navbar a:visited
{
}

#navbar a:hover
{
   color: #fa72c6;
}

#content_wrapper
{
   margin-top: 60px;
   position: relative;
   width: 100%;
}

#content_block
{
   width: 940px;
   min-width: 600px;
   margin: auto;
   line-height: 1.6em;
}

#page_wrapper
{
   width: 85%;
   margin: 0 auto;
}

#footer_wrapper {
   margin-top: 60px;
   position: relative;
   width: 100%;
   font-size: 12px;
   line-height: 20px;
   color: #bbb;
   padding-bottom: 30px;
}

.up {
   width: 100%;
   height: 30px;
}

.up > a
{
   float: right;
   border-radius: 12px;
   padding: 1px 15px;
   background-color: #DDD;
   color: #7e8696;
   text-decoration: none;
   font-size: 0.8em;
}

.up > a:visited
{
   background-color: #DDD;
   color: #7e8696;
}

.up > a:hover
{
   color: #FFF;
   background-color: #fa72c6;
   box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.6);
   -moz-box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.6);
   -webkit-box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.6);
   text-decoration: none;
}

#toc {
   line-height: 1.8em;
   margin-left: 32px;
   padding-bottom: 60px;
   margin-bottom: 60px;
}

#toc ul {
   margin: 0;
   padding: 0;
}

#toc ul > li {
   border-top: solid 1px #fa72c6;
   list-style-type: none;
   font-size: 18px;
   margin-bottom: 32px;
   padding-left: 8px;
   background-image: none;
}

#toc ul > li > ul {
   border: none;
   margin-left: 8px;
   margin-top: 8px;
}

#toc ul > li > ul > li {
   border: none;
   margin: 0;
   list-style-type: none;
   font-size: 16px;
   background-image: none;
}

#toc a {
   text-decoration: none;
}



/****** css for sticky footer ****/
/*** outer wrapper takes viewport height as minimum
 * central wrapper has a padding at the bottom which ensures that the footer does not overlap any content
 * footer is positioned after the outer wrappper, but moved up its height so that it is actually in the viewport *****/

#sticky_footer_outer_wrapper
{
   min-height: 100%;
   min-width: 100%;
   position: relative;
   overflow: visible;
}

#sticky_footer_central_content_wrapper
{
   position: relative;
   overflow: visible;
   padding-bottom: 160px; /* must be = (footer height + footer padding) */
}

#footer_wrapper
{
   position: relative;
   margin-top: -160px;
   height: 120px;
   clear: both;
   overflow: visible;
   padding: 40px 0 0;
}

.fasttransition {
   transition: all 0.1s ease-in-out;
   -ms-transition: all 0.1s ease-in-out;
   -webkit-transition: all 0.1s ease-in-out;
   -moz-transition: all 0.1s ease-in-out;
   -o-transition: all 0.1s ease-in-out;
}

#disqus {
   width: 80%;
   margin: 60px auto 40px auto;
   color: #333;
}

#header_cta {
   position: absolute;
   right: 60px;
   top: -40px;
}

#header_cta a {
/*
   padding: 8px;
   border-radius: 16px;
   background-color: #fa72c6;
   */
   font-size: 100%;
   color: #fa72c6;
   text-decoration: underline;
}

#header_cta a:hover {
   color: #FF37B2;
}
