.intro
{
   position: relative;
   font-size: 28px;
   margin-left: 60px;
   line-height: 1.4em;
   padding: 16px;
}

.intro b
{
   font-weight: 900;
}

.intro_sub
{
   border-top: solid 4px #fa72c6;
   width: 800px;
   padding-right: 8px;
   padding-top: 4px;
   float: right;
   font-size: 22px;
   font-weight: 500;
   line-height: 1.4em;
   margin-top: 50px;
   margin-bottom: 30px;
   font-style: italic;
   text-align: right;
/*   
   box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.3);
*/   
}

.ctas
{
   margin: 40px auto 60px auto;
   width: 660px;
}

a.cta_button_small
{
   display: inline;
   padding: 4px 10px;
   margin: 0;
   text-align: center;
   vertical-align: middle;
   border-radius: 12px;

   color: #fff;
   background-color: #fa72c6;

   text-decoration: none;
   font-size: 16px;
}

a.cta_button_small:hover {
   background-color: #f10a9a;
   color: #fff;
}


a.cta_button
{
   display: block;
   float: left;
   padding: 12px 0px;
   margin: 0;
   margin-left: 20px;
   width: 200px;
   text-align: center;
   vertical-align: middle;
   border-radius: 24px;

   color: #fff;
   background-color: #fa72c6;

   text-decoration: none;
   font-size: 24px;
}

a.cta_button:first-of-type {
   margin-left: 0;
}

a.cta_button:hover {
   background-color: #f10a9a;
   color: #fff;
}

#tweetme {
   position: absolute;
   right: 20px;
}

#usersbox {
   margin: 2em auto 5em auto;
   padding-bottom: 1em;
   border-bottom: 1px solid #ccc;
}

#usersbox td {
   width: 30%;
   max-width: 30%;
   padding: 8px;
   vertical-align: top;
   text-align: top;
   color: #7e8696;
}
