/****** specification   *****/

.syntaxhighlighter
{
   padding-bottom: 1px !important;
}

.developertable
{
   background-color: #fff;
   border-collapse: separate;
   border-spacing: 0px;
   margin: 3em auto 3em auto;
   box-shadow: 0 0 8px 2px #788192;
}

.developertable th
{
   /*
   border: 1px solid white;
   */
   padding: 7px 22px;
   min-width: 20px;
   background-color: #fa72c6;
   color: #fff;
   font-weight: normal;
   text-align: left;
}

.developertable td
{
   padding: 7px 22px;
   min-width: 20px;
}

.message
{
   font-family: Consolas, monospace;
   font-size: 18px;
   font-weight: bold;
   color: #fff;
   background-color: #fa72c6;
   width: 95%;
   margin: 2em auto 2em auto;
   padding: 10px 0 10px 0.6em;
   border-radius: 18px;
   /*
   box-shadow: 0 0 8px 2px #788192;
   */
   /*  #788192; */
}

.message_part
{
   font-family: Consolas, monospace;
   font-weight: normal;
   color: #788192;
   background-color: #ddd;
   padding: 3px 5px;
}

.msgex
{
   margin-left: 30px;
   margin-top: 60px;
   margin-bottom: 60px;
   padding-left: 20px;
   border-left: solid 8px #fa72c6;
   color: #75b73a;
   font-weight: 600;
}

#page_wrapper span.uri {
   font-size: 16px;
   font-family: Consolas, monospace;
}

#page_wrapper ol.refs {
   margin-left: 3em;
   line-height: 3em;
}
