.wamp2_implementations {
   border-collapse: collapse;
   border-spacing: 0 0;
   border: 1px solid #fa72c6;
}

.wamp2_implementations tr:nth-child(1) {
   background-color: #fa72c6;
   color: #fff;
}

.wamp2_implementations td {
   text-align: center;
   padding: 4px 8px 4px 8px;
}

.wamp2_implementations td:nth-child(1) {
   width: 220px;
}

.wamp2_implementations td:nth-child(1), td:nth-child(2), td:last-child {
   text-align: left;
}

.wamp2_implementations td:nth-child(7) {
}

.wamp2_implementations td.feature {
   width: 60px;
   font-style: italic;
}

.wamp2_implementations td.notes {
   font-size: 80%;
}

#content_block .impl_list {
   margin-left: 60px;
   padding-left: 30px;
}

#implist_wrapper {
   position: relative;
   margin: 30px auto 0 auto;
   width: 720px;
}

.implist {
   float: left;
   width: 360px;
   font-size: 18px;
}

.implist ul {
   margin: 8px 0 0 0;
   padding: 0 0 0 20px;;
}

.implist ul li {
   background-image: url("../img/gen/li_edge.svg");
   background-position: 0 7px;
   background-size: 10px;
   background-repeat: no-repeat;
   list-style-type: none;
   line-height: 1.8em;
   padding-left: 16px;
}

small {
   color: #000;
}

.implist a {
   text-decoration: none;
}

#implementors_note {
   width: 80%;
   margin: auto;

   padding: 8px 2em 8px 2em;
   border-radius: 12px;

   font-size: 14px;
   line-height: 1.2em;

   color: #fff;
   background-color: #fa72c6;
}

#implementors_note a {
   color: #fff;
}
