#faq_toc {
   line-height: 1.8em;
   margin-left: 32px;
   padding-bottom: 60px;
   margin-bottom: 60px;
}

#faq_toc ul {
   margin: 0;
   padding: 0;
}

#faq_toc ul > li {
   border-top: solid 1px #fa72c6;
   list-style-type: none;
   font-size: 18px;
   margin-bottom: 24px;
   padding-left: 8px;
}

#faq_toc ul > li > ul {
   border: none;
   margin-left: 8px;
   margin-top: 8px;
}

#faq_toc ul > li > ul > li {
   border: none;
   margin: 0;
   list-style-type: none;
   font-size: 16px;
}

#faq_toc a {
   text-decoration: none;
}
