/* custom CSS to include in generated pages */

.wy-nav-content {
    max-width: 1200px;
}

.wy-nav-side {
    position: fixed;
}

.wy-side-nav-search {
    background-color: #9e9e84;
    background-color: #888;
}

.wy-side-nav-search>a img.logo {
    width: 160px;
}


/* cursorsync formatting */

#frontdemo {
    max-width: 800px;
    margin: 0 auto;
}

.cursorBoxContainer {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-gap: 0;
}

.cursorBox {
    height: 200px;
    border: 2px solid #949494;
    border-radius: 3px;
    position: relative;
}

.cursor {
    position: absolute;
    height: 60px;
    width: 60px;
    top: 0;
    left: 0;
}

.connector {
    text-align: center;
    position: relative;
}

.connectorLine {
    height: 50%;
    border-bottom: 3px solid #949494;
}

.connectorInstance {
    width: 50px;
    position: relative;
    display: inline-block;
    top: -50px;
}

.statusline {
    margin: 1em 0 2em;
}

.connector img {
    width: 100px;
    height: 100px;
}
