<!DOCTYPE html>
<html>
   <head>
      <title>WAMP - The WebSocket Application Messaging Protocol</title>

      <!-- use Google Chrome Frame on IE when available -->
      <meta http-equiv="X-UA-Compatible" content="chrome=1" />

      <link rel="shortcut icon" href="{{ url_for('static', filename = 'img/favicon.ico') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/layout_t.css') }}">

      {% block header %}{% endblock %}

      {% if session["debug"] %}
         <!-- Google Analytics code exluced in debug-mode -->
      {% else %}
         <script type="text/javascript">
           var _gaq = _gaq || [];
           _gaq.push(['_setAccount', 'UA-23019220-4']);
           _gaq.push(['_trackPageview']);

           (function() {
             var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
             ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
             var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
           })();
         </script>
      {% endif %}
   </head>
   <body>

      {% macro up() -%}
         <div class="up">
            <a href="#top">Up</a>
         </div>
      {%- endmacro %}

      <div id="sticky_footer_outer_wrapper">

         <div id="sticky_footer_central_content_wrapper">

            <div id="topband"></div>

            <div id="logo_wrapper">
               <div id="logo_block">
                  <div id="logo">
                     <a href="/"><img src="{{ url_for('static', filename = 'img/logo.png') }}" width="624" height="136" border="0" alt="WAMP - The WebSocket Application Messaging Protocol"></img></a>
                  </div>
                  <div id="navbar">
                     <a href="{{ url_for('page_home') }}" {% if session['tab_selected'] == 'home' %} class="navitem_selected" {% else %} class="navitem" {% endif %}>Home</a>
                     <a href="{{ url_for('page_why') }}" {% if session['tab_selected'] == 'why' %} class="navitem_selected" {% else %} class="navitem" {% endif %}>Why?</a>
                     <a href="{{ url_for('page_implementations') }}" {% if session['tab_selected'] == 'implementations' %} class="navitem_selected" {% else %} class="navitem" {% endif %}>Implementations</a>
                     <a href="{{ url_for('page_spec') }}" {% if session['tab_selected'] == 'spec' %} class="navitem_selected" {% else %} class="navitem" {% endif %}>Specification</a>
                     <a href="{{ url_for('page_faq') }}" {% if session['tab_selected'] == 'faq' %} class="navitem_selected" {% else %} class="navitem" {% endif %}>FAQ</a>
                  </div>
               </div>
            </div>

            <div id="content_wrapper">
               <div id="content_block">

                  {% block content %}{% endblock %}

               </div>
            </div>

            <div style="clear: both;"></div>
         </div>
      </div>

      <div id="footer_wrapper">
         <center>
            WAMP&#8482; The WebSocket Application Messaging Protocol - Asynchronous RPC and PubSub over WebSocket.
         </center>
         <center>
            Copyright &copy; 2012-2013, Tavendo GmbH and contributors. Content licensed under <a href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons CC-BY-SA</a> and code licensed under <a href="http://www.apache.org/licenses/LICENSE-2.0.html">Apache 2.0</a>.
         </center>
         <center>
            Tavendo, WAMP and the <img style="position: relative; top: 3px;" src="{{ url_for('static', filename = 'img/logo_tiny.png') }}" width="60" height="16" border="0" alt="WAMP - The WebSocket Application Messaging Protocol"></img>
            logo are trademarks of <a href="http://www.tavendo.de">Tavendo GmbH</a>. All rights reserved. All other trademarks are those of their respective companies.
         </center>
      </div>

      <div id="tweetme">
         <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://wamp.ws" data-text="WAMP - an open WebSocket subprotocol that provides two asynchronous messaging patterns: RPC and PubSub." data-count="none" data-hashtags="websocket">Tweet</a>
         <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </div>

   </body>
</html>
