<!DOCTYPE html>
<html>
   <head>
      <!-- use Google Chrome Frame on IE when available -->
      <meta http-equiv="X-UA-Compatible" content="chrome=1" />

      <link rel="shortcut icon" href="{{ url_for('static', filename = 'img/favicon.ico') }}">
      <link rel="stylesheet" type="text/css" href="{{ session['cstatic'] }}/css/tavendo.css">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/layout_t.css') }}">

      {% block header %}{% endblock %}

      {% if session["debug"] %}
         <!-- Google Analytics code exluced in debug-mode -->
      {% else %}
         <script>
           (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
           (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
           m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
           })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
           ga('create', 'UA-23019220-4', 'wamp.ws');
           ga('send', 'pageview');
         </script>
      {% endif %}
   </head>
   <body>

      <!-- add community widget -->
      <div id="widgetAnchor"></div>
      <script src="{{ session['widgeturl'] }}/js/communitywidget.js"></script>
      <script>
         clandeck.create_widget({community: "tavendo", topOffset: "80px"});
      </script>

      {% macro up() -%}
         <div class="up">
            <a href="#top">Up</a>
         </div>
      {%- endmacro %}

      <div id="sticky_footer_outer_wrapper">

         <div id="sticky_footer_central_content_wrapper">

            <div id="topband"></div>

            <div id="logo_wrapper">
               <div id="logo_block">
                  <a href="/">
                     <img id="logo" src="{{ url_for('static', filename = 'img/gen/wamp_logo.svg') }}" width="362" height="80" border="0" alt="WAMP - The Web Application Messaging Protocol"></img>
                     <span id="logo_line">The Web Application Messaging Protocol</span>
                  </a>
                  <div id="navbar">
                     <a href="{{ url_for('page_home') }}" {% if session['tab_selected'] == 'home' %} class="navitem_selected" {% else %} class="navitem" {% endif %}>Home</a>
                     <a href="{{ url_for('page_why') }}" {% if session['tab_selected'] == 'why' %} class="navitem_selected" {% else %} class="navitem" {% endif %}>Why?</a>
                     <a href="{{ url_for('page_compared') }}" {% if session['tab_selected'] == 'compared' %} class="navitem_selected" {% else %} class="navitem" {% endif %}>How does it compare?</a>
                     <a href="{{ url_for('page_implementations') }}" {% if session['tab_selected'] == 'implementations' %} class="navitem_selected" {% else %} class="navitem" {% endif %}>Implementations</a>
                     <a href="{{ url_for('page_spec') }}" {% if session['tab_selected'] == 'spec' %} class="navitem_selected" {% else %} class="navitem" {% endif %}>Specification</a>
                     <a href="{{ url_for('page_faq') }}" {% if session['tab_selected'] == 'faq' %} class="navitem_selected" {% else %} class="navitem" {% endif %}>FAQ</a>
                  </div>
               </div>
               <div id="header_cta">
                  <!-- Help us advance the ecosystem and take the <a href="https://www.surveyplanet.com/survey/7de5f033f4ade1f45fe75fad9ff9a005">&#10144; WAMP Language Survey</a> -->
                  See the <strong><a href="http://tavendo.com/blog/post/wamp-language-survey/">results</a> of the WAMP Language Survey</strong>!
               </div>
            </div>

            <div id="content_wrapper">
               <div id="content_block">

                  {% block content %}{% endblock %}

                  {% if disqus %}
                  <div id="disqus">
                     <div id="disqus_thread"></div>
                     <script type="text/javascript">
                        var disqus_shortname = 'wamp';
                        var disqus_disable_mobile = false;

                        /* * * DON'T EDIT BELOW THIS LINE * * */
                        (function() {
                            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                        })();
                     </script>
                     <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                  </div>
                  {% endif %}

               </div>
            </div>

            <div style="clear: both;"></div>
         </div>
      </div>

      <div id="footer_wrapper">
         <center>
            WAMP&#8482; - The Web Application Messaging Protocol.
         </center>
         <center>
            Copyright &copy; 2012-2014 Tavendo GmbH and contributors. Content licensed under <a href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons CC-BY-SA</a> and code licensed under <a href="http://www.apache.org/licenses/LICENSE-2.0.html">Apache 2.0</a>.
         </center>
         <center>
            "Tavendo", "Crossbar.io", "WAMP" and the <img style="position: relative; top: 3px;" src="{{ url_for('static', filename = 'img/gen/wamp_logo_tiny.svg') }}" width="60" height="16" border="0" alt="WAMP - The Web Application Messaging Protocol"></img>
            logo are trademarks of <a href="http://www.tavendo.de">Tavendo GmbH</a>. All rights reserved.
         </center>
         <center>
            All other trademarks are those of their respective companies.
            <a href="{{ url_for('page_impressum') }}">Anbieterkennzeichnung</a> nach deutschem Recht.
         </center>
      </div>

   </body>
</html>
