{% extends "layout_t.html" %}

{% block header %}

   <link rel="stylesheet" href="{{ url_for('static', filename='css/page_t_spec.css') }}">

   <link href="{{ url_for('static', filename='deps/syntaxhighlighter/styles/shCore.css') }}" rel="stylesheet" type="text/css" />
   <link href="{{ url_for('static', filename='deps/syntaxhighlighter/styles/shThemeDefault.css') }}" rel="stylesheet" type="text/css" />

   <script src="{{ url_for('static', filename='deps/syntaxhighlighter/scripts/XRegExp.js') }}" type="text/javascript"></script>
   <script src="{{ url_for('static', filename='deps/syntaxhighlighter/scripts/shCore.js') }}" type="text/javascript"></script>
   <script src="{{ url_for('static', filename='deps/syntaxhighlighter/scripts/shBrushJScript.js') }}" type="text/javascript"></script>
   <script type="text/javascript">
     SyntaxHighlighter.all()
   </script>

{% endblock %}

{% block content %}

   <div id="page_wrapper">

      <a name="top"></a>
      <h1 class="title">The WebSocket Application Messaging Protocol</h1>

      <p>
         The following is an informal definition of WAMP - The WebSocket Application
         Messaging Protocol.
         The text describes version <b>1</b> of the protocol and should be sufficient
         for developers to create interoperable implementations.
         Specific features are subject to change in WAMP v2.
      </p>

      <br>

      <div id="toc">
         <ul>
            <li>
               <a href="#overview">Overview</a>
               <ul>
                  <li>
                     <a href="#building_blocks">Building Blocks</a>
                  </li>
                  <li>
                     <a href="#payload_format">Payload Format</a>
                  </li>
                  <li>
                     <a href="#message_types">Message Types</a>
                  </li>
                  <li>
                     <a href="#uris_and_curies">URIs and CURIEs</a>
                  </li>
               </ul>
            </li>
            <li>
               <a href="#auxiliary_messages">Auxiliary Messages</a>
               <ul>
                  <li><a href="#welcome_message">WELCOME Message</a></li>
                  <li><a href="#prefix_message">PREFIX Message</a></li>
               </ul>
            </li>
            <li>
               <a href="#rpc">Remote Procedure Calls</a>
               <ul>
                  <li><a href="#call_message">CALL Message</a></li>
                  <li><a href="#callresult_message">CALLRESULT Message</a></li>
                  <li><a href="#callerror_message">CALLERROR Message</a></li>
               </ul>
            </li>
            <li>
               <a href="#pubsub">Publish &amp; Subscribe</a>
               <ul>
                  <li><a href="#subscribe_message">SUBSCRIBE Message</a></li>
                  <li><a href="#unsubscribe_message">UNSUBSCRIBE Message</a></li>
                  <li><a href="#publish_message">PUBLISH Message</a></li>
                  <li><a href="#event_message">EVENT Message</a></li>
               </ul>
            </li>
            <li>
               <a href="#references">References</a>
            </li>
         </ul>
      </div>


      <a name="overview"></a>
      <h2>Overview</h2>
      <p>
      </p>


      <a name="building_blocks"></a>
      <h3>Building Blocks</h3>
      <p>
         WAMP is based on established Web standards:
         <ul>
            <li>WebSocket</li>
            <li>JSON</li>
            <li>URIs</li>
         </ul>
      </p>
      <p>
         Though WAMP is currently defined with respect to above concrete standards,
         effectively it only makes the following assumptions.
      </p>

      <p>
         <b>Transport</b><br/>
         A reliable, ordered, full-duplex message channel is assumed.
         The default binding is <i>WebSocket</i> as <i>Transport</i>.
      </p>

      <p>
         <b>Serialization</b><br/>
         A message payload serialization format is assumed that at least provides:
         integers, strings and lists.
         The default binding is <i>JSON</i> as <i>Serialization</i>.
      </p>

      <p>
         <b>IDs</b><br/>
         An ID space that allows global assignment and resolution is assumed.
         The default binding is <i>URIs</i> from the HTTP scheme as <i>IDs</i>
         for both topics and procedures.
      </p>
      {{up()}}


      <a name="payload_format"></a>
      <h3>Payload Format</h3>
      <p>
         All messages are transmitted as <a href="http://tools.ietf.org/html/rfc6455" target="_blank">WebSocket</a>
         messages of payload type <i>text</i>, and hence
         <a href="http://tools.ietf.org/html/rfc3629" target="_blank">UTF-8</a> encoded,
         with the payload being valid <a href="http://tools.ietf.org/html/rfc4627" target="_blank">JSON</a>.
      </p>
      {{up()}}


      <a name="message_types"></a>
      <h3>Message Types</h3>

      <p>
         WAMP defines the message types which are used in the communication between two
         WebSocket endpoints, the <i>client</i> and the <i>server</i>, and describes associated semantics.
      </p>

      <p>
         WAMP is based on the following 9 message types:
      </p>

      <table class="developertable">
         <tr><th>Message</th><th>Type ID</th><th>Direction</th><th>Category</th></tr>
         <tr><td><a href="#welcome_message">WELCOME</a></td><td>0</td><td>Server-to-client</td><td>Auxiliary</td></tr>
         <tr><td><a href="#prefix_message">PREFIX</a></td><td>1</td><td>Client-to-server</td><td>Auxiliary</td></tr>
         <tr><td><a href="#call_message">CALL</a></td><td>2</td><td>Client-to-server</td><td>RPC</td></tr>
         <tr><td><a href="#callresult_message">CALLRESULT</a></td><td>3</td><td>Server-to-client</td><td>RPC</td></tr>
         <tr><td><a href="#callerror_message">CALLERROR</a></td><td>4</td><td>Server-to-client</td><td>RPC</td></tr>
         <tr><td><a href="#subscribe_message">SUBSCRIBE</a></td><td>5</td><td>Client-to-server</td><td>PubSub</td></tr>
         <tr><td><a href="#unsubscribe_message">UNSUBSCRIBE</a></td><td>6</td><td>Client-to-server</td><td>PubSub</td></tr>
         <tr><td><a href="#publish_message">PUBLISH</a></td><td>7</td><td>Client-to-server</td><td>PubSub</td></tr>
         <tr><td><a href="#event_message">EVENT</a></td><td>8</td><td>Server-to-client</td><td>PubSub</td></tr>
      </table>
      {{up()}}


      <a name="uris_and_curies"></a>
      <h3>URIs and CURIEs</h3>
      <p>Write me.</p>
      {{up()}}



      <a name="auxiliary_messages"></a>
      <h2>Auxiliary Messages</h2>

      <p>The first server-to-client message sent by a WAMP server is always</p>
      <ul>
         <li><span class="message_part">WELCOME</span></li>
      </ul>

      <p>
         With both messaging patterns, a client MAY use the following
         client-to-server message:
      </p>
      <ul>
         <li><span class="message_part">PREFIX</span></li>
      </ul>
      {{up()}}


      <a name="welcome_message"></a>
      <h3>WELCOME Message</h3>
      <p>
         When a WAMP client connects to a WAMP server, the very first message sent
         by the server is always a
      </p>
      <p class="message">[ TYPE_ID_WELCOME , sessionId , protocolVersion, serverIdent ]</p>
      <p>
         message. The <span class="message_part">sessionId</span> is a string that is
         randomly generated by the server and unique to the specific WAMP session.
         The <span class="message_part">sessionId</span> can be used for at least two
         situations: 1) specifying lists of excluded or eligible clients when publishing
         event and 2) in the context of performing authentication or authorization.
      </p>
      <p>
         The <span class="message_part">protocolVersion</span> is an integer
         that gives the WAMP protocol version the server speaks, currently it MUST be 1.
      </p>
      <p>
         The <span class="message_part">serverIdent</span> is a string the server may
         use to disclose it's version, software, platform or identity.
      </p>

      <div class="msgex">
         <span class="message_part">WELCOME</span> message: session ID = "v59mbCGDXZ7WTyxB"
         <pre class="brush: javascript; toolbar: false; auto-links: false; gutter: false;">
            [0, "v59mbCGDXZ7WTyxB", 1, "Autobahn/0.5.1"]
         </pre>
      </div>
      {{up()}}


      <a name="prefix_message"></a>
      <h3>PREFIX Message</h3>
      <p>Both <i>procedures</i> (and <i>errors</i>) in RPC and <i>topics</i> in PubSub are identified using <a href="#curie">URIs or CURIEs</a>.
      Whenever a URI is used, full identification of the procedure/topic is provided by this URI.
      However, URIs can get long, which means tedious to input for developers, and also resulting in
      considerable volume on wire, when many small messages are exchanged.</p>
      <p>To counter that, URIs MAY be abbreviated using the CURIE (Compact URI Expression) syntax.
      For example, the (full) URI:</p>

      <center><span class="uri">http://example.com/simple/calc#square</span></center>

      <p>may be abbreviated as</p>

      <center><span class="uri">calc:square</span></center>

      <p>when it was previously agreed that the <i>prefix</i> <span class="uri">calc</span> is meant to stand for

      <center><span class="uri">http://example.com/simple/calc#</span></center>
      <br/>

      <p>To establish such agreement, a client sends a <span class="message_part">PREFIX</span> message</p>
      <p class="message">[ TYPE_ID_PREFIX , prefix , URI ]</p>
      <p>to the server.</p>

      <div class="msgex">
         <span class="message_part">PREFIX</span> message
         <pre class="brush: javascript; toolbar: false; auto-links: false; gutter: false;">
            [1, "calc", "http://example.com/simple/calc#"]
         </pre>
      </div>

      <div class="msgex">
         <span class="message_part">PREFIX</span> message
         <pre class="brush: javascript; toolbar: false; auto-links: false; gutter: false;">
            [1, "keyvalue", "http://example.com/simple/keyvalue#"]
         </pre>
      </div>


      <p>The agreement is per-connection, and has a lifetime starting with the server receiving a
      <span class="message_part">PREFIX</span> message establishing a prefix-to-URI mapping, and ending
      with the WebSocket connection.</p>

      <p>The message is a JSON list consisting of <span class="message_part">TYPE_ID_PREFIX</span>, the message type ID as an integer, followed
      by the <span class="message_part">prefix</span>, a string to be used as prefix,
      followed by <span class="message_part">URI</span>, the URI which is subsequently to be abbreviated using the prefix.</p>

      <p>Both the <span class="message_part">prefix</span> and the <span class="message_part">URI</span> MUST follow the requirements as
      set forth in <a href="#curie">URIs or CURIEs</a></p>

      {{up()}}



      <a name="rpc"></a>
      <h2>Remote Procedure Calls</h2>

      <p>The Remote Procedure Call messaging pattern is realized with 3 messages:</p>

      <ul>
         <li><span class="message_part">CALL</span></li>
         <li><span class="message_part">CALLRESULT</span></li>
         <li><span class="message_part">CALLERROR</span></li>
      </ul>
      {{up()}}


      <a name="call_message"></a>
      <h3>CALL Message</h3>

      <p>
         A client initiates a RPC by sending a message
      </p>
      <p class="message">[ TYPE_ID_CALL , callID , procURI , ... ]</p>
      <p>to the server.</p>

      <p>The message is a JSON list consisting of <span class="message_part">TYPE_ID_CALL</span>, the message type ID as an integer, followed
      by the <span class="message_part">callID</span>, a string randomly generated by the client, followed by <span class="message_part">procURI</span>,
      the URI of the remote procedure to be called, followed by zero or more call arguments.</p>

      <p>The <span class="message_part">callID</span> MUST be a randomly generated string. The <span class="message_part">callID</span> is returned
      in <span class="message_part">CALLRESULT</span> or <span class="message_part">CALLERROR</span> by the server and used by the client to
      correlate the return message with the originating call.</p>

      <p>The <span class="message_part">procURI</span> is a string that identifies the remote procedure to be called and
      MUST be a valid <a href="#curie">URI or CURIE</a>.</p>

      <div class="msgex">
         <span class="message_part">CALL</span> message for RPC with no arguments
         <pre class="brush: javascript; toolbar: false; auto-links: false; gutter: false;">
            [2, "7DK6TdN4wLiUJgNM", "http://example.com/api#howdy"]
         </pre>
      </div>

      <div class="msgex">
         <span class="message_part">CALL</span> message for RPC with 2 arguments, using CURIE
         <pre class="brush: javascript; toolbar: false; auto-links: false; gutter: false;">
            [2, "Yp9EFZt9DFkuKndg", "api:add2", 23, 99]
         </pre>
      </div>

      <div class="msgex">
         <span class="message_part">CALL</span> message for RPC with 1 complex, object argument
         <pre class="brush: javascript; toolbar: false; auto-links: false; gutter: false;">
            [2, "J5DkZJgByutvaDWc", "http://example.com/api#storeMeal",
               {
                  "category": "dinner",
                  "calories": 2309
               }]
         </pre>
      </div>

      <div class="msgex">
         <span class="message_part">CALL</span> message for RPC with 1 argument, value being null
         <pre class="brush: javascript; toolbar: false; auto-links: false; gutter: false;">
            [2, "Dns3wuQo0ipOX1Xc", "http://example.com/api#woooat", null]
         </pre>
      </div>

      <div class="msgex">
         <span class="message_part">CALL</span> message for RPC with 1 argument, value being a list of integers, using CURIE
         <pre class="brush: javascript; toolbar: false; auto-links: false; gutter: false;">
            [2, "M0nncaH0ywCSYzRv", "api:sum", [9, 1, 3, 4]]
         </pre>
      </div>

      <div class="msgex">
         <span class="message_part">CALL</span> message for RPC with 1 argument, value being a list of integers, using CURIE
         <pre class="brush: javascript; toolbar: false; auto-links: false; gutter: false;">
            [2, "ujL7WKGXCn8bkvFV", "keyvalue:set",
               "foobar",
               {
                  "value1": "23",
                  "value2": "singsing",
                  "value3": true,
                  "modified": "2012-03-29T10:29:16.625Z"
               }]
         </pre>
      </div>

      <p>When the execution of the remote procedure finishes, the server responds by sending a message of type
      <span class="message_part">CALLRESULT</span> or <span class="message_part">CALLERROR</span>.</p>

      <p>The execution and sending is asynchronous, and there MAY be more than one RPC outstanding.
      An RPC is called outstanding (from the point of view of the client), when a result or error has not
      yet been received by the client.</p>

      {{up()}}


      <a name="callresult_message"></a>
      <h3>CALLRESULT Message</h3>

      <p>
         When the execution of the remote procedure finishes successfully, the server responds by
         sending a
      </p>
      <p class="message">[ TYPE_ID_CALLRESULT , callID , result ]</p>
      <p>to the client.</p>

      <p>The message is a JSON list consisting of <span class="message_part">TYPE_ID_CALLRESULT</span>, the message type ID as an integer, followed
      by the <span class="message_part">callID</span>, the call correlation string that was randomly generated by the client,
      followed by <span class="message_part">result</span>, the call result.</p>

      <p>The <span class="message_part">result</span> is always present and can be any JSON serializable value, include the JSON
      value <i>null</i>.</p>

      <i>Examples</i>
      <div class="msgex">
         <span class="message_part">CALLRESULT</span> message with 'null' result
         <pre class="brush: javascript; toolbar: false; auto-links: false; gutter: false;">
            [3, "CcDnuI2bl2oLGBzO", null]
         </pre>
      </div>
      <div class="msgex">
         <span class="message_part">CALLRESULT</span> message with a 'string' result
         <pre class="brush: javascript; toolbar: false; auto-links: false; gutter: false;">
            [3, "otZom9UsJhrnzvLa", "Awesome result .."]
         </pre>
      </div>
      <div class="msgex">
         <span class="message_part">CALLRESULT</span> message with a complex object result
         <pre class="brush: javascript; toolbar: false; auto-links: false; gutter: false;">
            [3, "CcDnuI2bl2oLGBzO",
               {
                  "value3": true,
                  "value2": "singsing",
                  "value1": "23",
                  "modified": "2012-03-29T10:29:16.625Z"
               }]
         </pre>
      </div>

      {{up()}}


      <a name="callerror_message"></a>
      <h3>CALLERROR Message</h3>

      <p>
         When the remote procedure call could not be executed, an error or exception occurred during the execution
         or the execution of the remote procedure finishes unsuccessfully for any other reason, the server responds
         by sending a either
      </p>
      <p class="message">[ TYPE_ID_CALLERROR , callID , errorURI , errorDesc ]</p>

      <p>or</p>

      <p class="message">[ TYPE_ID_CALLERROR , callID , errorURI , errorDesc , errorDetails ]</p>

      <p>to the client.</p>

      <p>The message is a JSON list consisting of <span class="message_part">TYPE_ID_CALLERROR</span>, the message type ID as an integer,
      followed by the <span class="message_part">callID</span>, the call correlation string that was randomly generated by the client,
      followed by <span class="message_part">errorURI</span>, an <a href="#curie">URI or CURIE</a> identifying the error, followed by
      <span class="message_part">errorDesc</span>, a string with an error description.</p>

      <p>The <span class="message_part">errorDesc</span> is always present, MAY be an empty string, and if non-empty SHOULD be
      a human-readable description of the error. The description is intended to be understood by developers, not end-users.</p>

      <p>
         If <span class="message_part">errorDetails</span> is present, it MUST be not null, and is used
         to communicate application error details, defined by the <span class="message_part">errorURI</span>.
      </p>

      <div class="msgex">
         <span class="message_part">CALLERROR</span> message with generic error
         <pre class="brush: javascript; toolbar: false; auto-links: false; gutter: false;">
            [4, "gwbN3EDtFv6JvNV5",
               "http://autobahn.tavendo.de/error#generic",
               "math domain error"]
         </pre>
      </div>

      <div class="msgex">
         <span class="message_part">CALLERROR</span> message with specific error and integer in error details
         <pre class="brush: javascript; toolbar: false; auto-links: false; gutter: false;">
            [4, "7bVW5pv8r60ZeL6u",
               "http://example.com/error#number_too_big",
               "1001 too big for me, max is 1000",
               1000]
         </pre>
      </div>

      <div class="msgex">
         <span class="message_part">CALLERROR</span> message with list of integers in error details
         <pre class="brush: javascript; toolbar: false; auto-links: false; gutter: false;">
            [4, "AStPd8RS60pfYP8c",
               "http://example.com/error#invalid_numbers",
               "one or more numbers are multiples of 3",
               [0, 3]]
         </pre>
      </div>

      {{up()}}


      <a name="pubsub"></a>
      <h2>Publish &amp; Subscribe</h2>

      <p>The Publish &amp; Subscribe messaging pattern is realized with 4 messages:</p>

      <ul>
         <li><span class="message_part">SUBSCRIBE</span></li>
         <li><span class="message_part">UNSUBSCRIBE</span></li>
         <li><span class="message_part">PUBLISH</span></li>
         <li><span class="message_part">EVENT</span></li>
      </ul>

      <p>
         Upon subscribing to a topic via the <span class="message_part">SUBSCRIBE</span> message,
         a client will be receiving asynchronous events published to the respective topic via
         the <span class="message_part">EVENT</span> message. Clients publish to a topic via
         the <span class="message_part">PUBLISH</span> message.
         An subscription lasts for the duration of a session, unless a client opts out from
         a previous subscription via the <span class="message_part">UNSUBSCRIBE</span> message.
      </p>

      <p>
         A client may subscribe to zero, one or more topics, and clients publish to topics without
         knowledge of subscribers.
      </p>
      <p>
         WAMPv1 has no feedback mechanism for when a subscribe or publish fails, i.e. when
         the subscription or publication is denied. When a client subscribes or publishes,
         there is no error feedback and a failed action is just silently ignored by the server.
      </p>
      {{up()}}


      <a name="subscribe_message"></a>
      <h3>SUBSCRIBE Message</h3>
      <p>A client requests access to a valid <span class="message_part">topicURI</span> (or CURIE from Prefix) to receive events published to the given <span class="message_part">topicURI</span>.</p>
      <p class="message">[ TYPE_ID_SUBSCRIBE , topicURI ]</p>

      <p>Upon a successful subscription the session will start receiving messages in the EVENT in the context of the <span class="message_part">topicURI</span>.
      The request is asynchronous, the server will not return an acknowledgement of the subscription.</p>

      <i>Examples</i>

      <div class="msgex">
         <span class="message_part">SUBSCRIBE</span> message with fully qualified URI
         <pre class="brush: javascript; toolbar: false; auto-links: false; gutter: false;">
            [5, "http://example.com/simple"]
         </pre>
      </div>

      <div class="msgex">
         <span class="message_part">SUBSCRIBE</span> message with CURIE
         <pre class="brush: javascript; toolbar: false; auto-links: false; gutter: false;">
            [5, "event:myevent1"]
         </pre>
      </div>

      {{up()}}


      <a name="unsubscribe_message"></a>
      <h3>UNSUBSCRIBE Message</h3>
      <p>Calling unsubscribe on a <span class="message_part">topicURI</span> informs the server to stop delivering messages to
      the client previously subscribed to that <span class="message_part">topicURI</span>.</p>
      <p class="message">[ TYPE_ID_UNSUBSCRIBE , topicURI ]</p>

      <i>Examples</i>

      <div class="msgex">
         <span class="message_part">UNSUBSCRIBE</span> message with fully qualified URI
         <pre class="brush: javascript; toolbar: false; auto-links: false; gutter: false;">
            [6, "http://example.com/simple"]
         </pre>
      </div>

      <div class="msgex">
         <span class="message_part">UNSUBSCRIBE</span> message with CURIE
         <pre class="brush: javascript; toolbar: false; auto-links: false; gutter: false;">
            [6, "event:myevent1"]
         </pre>
      </div>

      {{up()}}


      <a name="publish_message"></a>
      <h3>PUBLISH Message</h3>
      <p>The client will send an event to all clients connected to the server who have subscribed to the <span class="message_part">topicURI</span>.</p>
      <p class="message">[ TYPE_ID_PUBLISH , topicURI , event ]</p>
      <p class="message">[ TYPE_ID_PUBLISH , topicURI , event , excludeMe ]</p>
      <p class="message">[ TYPE_ID_PUBLISH , topicURI , event , exclude , eligible ]</p>
      <p>If the client publishing their message to <span class="message_part">topicURI</span> has also Subscribed to that <span class="message_part">topicURI</span> they can opt to not receive
      their published event by passing the optional parameter <span class="message_part">excludeMe</span> to TRUE.</p>

      <i>Examples</i>

      <div class="msgex">
         <span class="message_part">PUBLISH</span> message with 'string' as payload
         <pre class="brush: javascript; toolbar: false; auto-links: false; gutter: false;">
            [7, "http://example.com/simple", "Hello, world!"]
         </pre>
      </div>

      <div class="msgex">
         <span class="message_part">PUBLISH</span> message with 'null' as payload
         <pre class="brush: javascript; toolbar: false; auto-links: false; gutter: false;">
            [7, "http://example.com/simple", null]
         </pre>
      </div>

      <div class="msgex">
         <span class="message_part">PUBLISH</span> message with complex object as payload
         <pre class="brush: javascript; toolbar: false; auto-links: false; gutter: false;">
            [7, "http://example.com/event#myevent2",
               {
                  "rand": 0.09187032734575862,
                  "flag": false,
                  "num": 23,
                  "name":
                  "Kross",
                  "created": "2012-03-29T10:41:09.864Z"
               }]
         </pre>
      </div>

      <div class="msgex">
         <span class="message_part">PUBLISH</span> message with exclude list
         <pre class="brush: javascript; toolbar: false; auto-links: false; gutter: false;">
            [7, "event:myevent1",
               "hello",
               ["NwtXQ8rdfPsy-ewS", "dYqgDl0FthI6_hjb"]]
         </pre>
      </div>

      <div class="msgex">
         <span class="message_part">PUBLISH</span> message with eligible list
         <pre class="brush: javascript; toolbar: false; auto-links: false; gutter: false;">
            [7, "event:myevent1",
               "hello",
               [],
               ["NwtXQ8rdfPsy-ewS"]]
         </pre>
      </div>

      {{up()}}


      <a name="event_message"></a>
      <h3>EVENT Message</h3>
      <p>
         Subscribers receive PubSub events published by subscribers via the
         <span class="message_part">EVENT</span> message.
         The <span class="message_part">EVENT</span> message contains the
         <span class="message_part">topicURI</span>, the topic under which the
         event was published, and <span class="message_part">event</span>, the
         PubSub event payload.
      </p>

      <p class="message">[ TYPE_ID_EVENT , topicURI , event ]</p>

      <p>
         The <span class="message_part">topicURI</span> MUST be a fully qualified
         URI for the topic.
         The <span class="message_part">event</span> payload MUST always be
         present, and can be any simple or complex type or null.
      </p>

      <i>Examples</i>

      <div class="msgex">
         <span class="message_part">EVENT</span> message with 'string' as payload
         <pre class="brush: javascript; toolbar: false; auto-links: false; gutter: false;">
            [8, "http://example.com/simple", "Hello, I am a simple event."]
         </pre>
      </div>

      <div class="msgex">
         <span class="message_part">EVENT</span> message with 'null' as payload
         <pre class="brush: javascript; toolbar: false; auto-links: false; gutter: false;">
            [8, "http://example.com/simple", null]
         </pre>
      </div>

      <div class="msgex">
         <span class="message_part">EVENT</span> message with complex object payload
         <pre class="brush: javascript; toolbar: false; auto-links: false; gutter: false;">
            [8, "http://example.com/event#myevent2",
               {
                  "rand": 0.09187032734575862,
                  "flag": false,
                  "num": 23,
                  "name": "Kross",
                  "created": "2012-03-29T10:41:09.864Z"
               }]
         </pre>
      </div>

      {{up()}}


      <a name="references"></a>
      <h2>References</h2>

      <ol class="refs">
         <li>
            <a href="http://tools.ietf.org/html/rfc6455" target="_blank">The WebSocket Protocol</a>
         </li>
         <li>
            <a href="http://tools.ietf.org/html/rfc3629" target="_blank">UTF-8, a transformation format of ISO 10646</a>
         </li>
         <li>
            <a href="http://tools.ietf.org/html/rfc4627" target="_blank">The application/json Media Type for JavaScript Object Notation (JSON)</a>
         </li>
         <li>
            <a href="http://tools.ietf.org/html/rfc3986" target="_blank">Uniform Resource Identifier (URI): Generic Syntax, RFC 3986</a>
         </li>
         <li>
            <a href="http://www.w3.org/TR/curie/" target="_blank">CURIE Syntax 1.0</a>
         </li>
      </ol>
      {{up()}}

   </div>


{% endblock%}
