{% extends "layout_t.html" %}

{% block header %}
   <title>WAMP - Web Application Messaging Protocol</title>
   <meta name="description" content="WAMP is an open WebSocket subprotocol that provides two application messaging patterns in one unified protocol: Remote Procedure Calls and Publish/Subscribe.">

   <link rel="stylesheet" href="{{ url_for('static', filename='css/page_t_home.css') }}">
{% endblock%}

{% block content %}

   <h1 class="intro">
      <b>WAMP</b> is an open standard <a href="http://tools.ietf.org/html/rfc6455" target="_blank">WebSocket</a> subprotocol that provides two application
      messaging patterns in one unified protocol:<br> <a href="{{ url_for('page_faq')}}#rpc"><b>Remote Procedure Calls</b></a> + <a href="{{ url_for('page_faq')}}#pubsub"><b>Publish &amp; Subscribe</b></a>

      <span id="tweetme">
         <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://wamp.ws" data-text="WAMP - an open WebSocket subprotocol that provides two asynchronous messaging patterns: RPC and PubSub." data-count="horizontal" data-hashtags="websocket">Tweet</a>
         <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </span>
   </h1>

   <h1 class="intro_sub">
      Using WAMP you can build distributed systems out of application components<br>which are <b>loosely coupled</b> and communicate in (soft) <b>real-time</b>.
   </h1>

   <div style="clear: both;"></div>
   <br><br>

   <center style="font-size: 32px; font-weight: 300; color: #fa72c6;">Here is what users do with WAMP:</center>

   <a name="users"></a>
   <table id="usersbox">
      <tr>
         <td style="vertical-align: middle; padding: 0 0 0 8px;">
            <a href="http://www.sonycsl.co.jp/en/">
               <img src="{{ url_for('static', filename = 'img/gen/3rd_party_logos/sony.svg') }}" width="180" height="30" border="0" alt="Sony Corporation"></img>
            </a>
         </td>
         <td style="vertical-align: middle; padding: 0 0 0 8px;">
            <a href="http://record-evolution.com/">
               <img src="{{ url_for('static', filename = 'img/gen/3rd_party_logos/record-evolution.svg') }}" width="280" height="26" border="0" alt="Record Evolution"></img>
            </a>
         </td>
         <td style="vertical-align: middle; padding: 0 0 0 8px;">
            <a href="http://www.kitware.com/" style="text-decoration: none;">
               <img src="{{ url_for('static', filename = 'img/gen/3rd_party_logos/kitware.svg') }}" width="174" height="45" border="0" alt="Kitware"></img>
            </a>
         </td>
      </tr>
      <tr>
         <td>
            <a href="http://www.sonycsl.co.jp/en/">Sony Computer Science Lab</a> is <a href="http://kadecot.net/publications/1406-W3CPaper.pdf">developing</a> <a href="http://kadecot.net">Kadecot</a>, a <b>Home Automation</b> product using WAMP which they <a href="http://kadecot.net/publications/1406-W3Ctalk.pdf">presented</a> at a recent <a href="http://www.w3.org/2014/02/wot/">W3C Workshop on the Web of Things</a>.
         </td>
         <td>
            <a href="http://record-evolution.com/">Record-Evolution</a> offers an advanced <b>Data-Warehouse</b> and <b>Business Intelligence</b> tool built on WAMP, <a href="">Crossbar.io</a> (an enterprise WAMP router) and Oracle database.
         </td>
         <td>
            <a href="http://www.kitware.com/">Kitware</a> is offering solutions for <b>3D scientific visualization</b> and is using WAMP and <a href="http://autobahn.ws/">Autobahn</a> (a WAMP real-time framework) in its <a href="http://www.paraview.org">ParaView</a> and <a href="http://www.vtk.org">VTK</a> products.
         </td>
      </tr>
   </table>

   <center style="font-size: 32px; font-weight: 300; color: #fa72c6;">Ready for more?</center>

   <div class="ctas">
      <a class="cta_button fasttransition" href="{{ url_for('page_why')}}">Why WAMP?</a>
      <a class="cta_button fasttransition" href="{{ url_for('page_implementations')}}">Get started!</a>
      <a class="cta_button fasttransition" href="https://groups.google.com/forum/#!forum/wampws">Mailing list</a>
   </div>

   <div style="clear: both;"></div>
   <br><br>

{% endblock%}
