{% extends "layout_t.html" %}

{% block header %}
   <link rel="stylesheet" href="{{ url_for('static', filename='css/page_t_implementations.css') }}">
{% endblock%}

{% block content %}

<div id="page_wrapper">

   <p style="font-size: 140%;">Get started with WAMP using your favorite language / framework ...</p>

   <div id="implementors_note">
      Want your WAMP implementation listed here? Join the <a href="https://groups.google.com/group/wampws" target="_blank">WAMP group</a> and introduce your project.
   </div>

   <div id="implist_wrapper">
      <div class="implist">
         Clients
         <ul>
            <li><a href="http://autobahn.ws/js">AutobahnJS <small>(JavaScript/Browser)</small></a></li>
            <li><a href="http://autobahn.ws/python">AutobahnPython <small>(Python/Twisted)</small></a></li>
            <li><a href="http://autobahn.ws/android">AutobahnAndroid <small>(Java/Android)</small></a></li>
            <li><a href="https://github.com/ghetolay/jwamp">JWamp <small>(Java/Jetty)</small></a></li>
            <li><a href="https://github.com/mogui/MDWamp">MDWamp <small>(ObjectiveC/iOS)</small></a></li>
            <li><a href="https://github.com/ocroquette/wampoc">wampoc <small>(Java/Jetty)</small></a></li>
            <li><a href="https://github.com/darkl/WampSharp">WampSharp <small>(C#/.NET)</small></a></li>
         </ul>
      </div>
      <div class="implist">
         Servers
         <ul>
            <li><a href="http://autobahn.ws/python">AutobahnPython <small>(Python/Twisted)</small></a></li>
            <li><a href="http://www.tavendo.de/webmq">WebMQ <small>(Integration Server)</small></a></li>
            <li><a href="http://socketo.me/">Ratchet <small>(PHP/React)</small></a></li>
            <li><a href="https://github.com/nicokaiser/wamp.io">WAMP.IO <small>(JavaScript/NodeJS)</small></a></li>
            <li><a href="https://github.com/ghetolay/jwamp">JWamp <small>(Java/Jetty)</small></a></li>
            <li><a href="https://github.com/thraaawn/tWAMP">tWAMP <small>(SourceMod/Half-Life 2)</small></a></li>
            <li><a href="https://github.com/ocroquette/wampoc">wampoc <small>(Java/Jetty)</small></a></li>
            <li><a href="https://github.com/blopker/WAMPlay">WAMPlay <small>(Java/Play Framework)</small></a></li>
            <li><a href="https://github.com/bradylove/wamp-ruby">wamp-ruby <small>(Ruby/Faye)</small></a></li>
            <li><a href="https://github.com/gmosx/dart-wamp">dart-wamp <small>(Dart)</small></a></li>
            <li><a href="https://github.com/NeoXiD/iowamp">iowamp <small>(JavaScript/NodeJS)</small></a></li>
            <li><a href="https://github.com/Horusiath/NWamp">NWamp <small>(C#/.NET)</small></a></li>
            <li><a href="https://github.com/jcelliott/turnpike">turnpike<small> (Go)</small></a></li>
            <li><a href="http://cljwamp.us/">clj-wamp<small> (Clojure/HTTP Kit)</small></a></li>            
            <li><a href="https://github.com/darkl/WampSharp">WampSharp <small>(C#/.NET)</small></a></li>
         </ul>
      </div>
   </div>

   <div style="clear: both;"></div>

</div>

{% endblock%}
