{% extends "layout_t.html" %}

{% block header %}
   <title>WAMP Specification</title>
   <meta name="description" content="The WAMP protocol specification and reference.">
{% endblock %}

{% block content %}

   <div id="page_wrapper">
      <a name="top"></a>
      <h1 class="title">The Web Application Messaging Protocol</h1>
      <p>
         This document specifies the Web Application Messaging Protocol (WAMP) split into two parts:
         <ul>
            <li><a href="https://github.com/tavendo/WAMP/blob/master/spec/basic.md">The Web Application Messaging Protocol, Part 1: Basic Profile</a></li>
            <li><a href="https://github.com/tavendo/WAMP/blob/master/spec/advanced.md">The Web Application Messaging Protocol, Part 2: Advanced Profile</a></li>
         </ul>
      </p>
      <p>
         While the "Basic Profile" is considered stable, the "Advanced Profile" is still under
         active development and should be considered work-in-progress.
      </p>
   </div>

{% endblock%}
