{% extends "layout_t.html" %}

{% block header %}
   <link rel="stylesheet" href="{{ url_for('static', filename='css/page_t_home.css') }}">
{% endblock%}

{% block content %}

   <h1 class="intro">
      <b>WAMP</b> is an open <a href="http://tools.ietf.org/html/rfc6455" target="_blank">WebSocket</a> subprotocol that provides two application
      messaging patterns in one unified protocol:<br> <a href="{{ url_for('page_faq')}}#rpc"><b>Remote Procedure Calls</b></a> + <a href="{{ url_for('page_faq')}}#pubsub"><b>Publish &amp; Subscribe</b></a>.

      <span id="tweetme">
         <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://wamp.ws" data-text="WAMP - an open WebSocket subprotocol that provides two asynchronous messaging patterns: RPC and PubSub." data-count="none" data-hashtags="websocket">Tweet</a>
         <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </span>
   </h1>

   <h1 class="intro_sub">
      WAMP is easy to use, simple to implement and based on<br/>
      modern Web standards: WebSocket, JSON and URIs.
   </h1>

   <div style="clear: both;"></div>

   <div class="ctas">
      <a class="cta_button fasttransition" href="{{ url_for('page_why')}}">Why?</a>
      <a class="cta_button fasttransition" href="{{ url_for('page_implementations')}}">Get started!</a>
   </div>

{% endblock%}
