{% extends "layout_t.html" %}

{% block header %}
   <title>Unified Application Routing - Why WAMP?</title>
   <meta name="description" content="WAMP and Unified Application Routing allow to create distributed systems out of application components which are loosely coupled and communicate in real-time.">
   <link rel="stylesheet" href="{{ url_for('static', filename='css/page_t_why.css') }}">

   <a id="top"></a>
{% endblock%}

{% block content %}

<div id="page_wrapper">

   <h1>Why WAMP?</h1>
   <p>
      WAMP provides <a href="#unified_routing">Unified Application Routing</a>
      in an open <a href="#websocket">WebSocket</a> protocol that works
      with <a href="#polyglot">different</a> languages.
   </p>
   <p>
      Using WAMP you can build distributed systems out of application components which are
      <b>loosely coupled</b> and communicate in (soft) <b>real-time</b>.
   </p>
   <p>
      At its core, WAMP offers two communication patterns for application components to talk
      to each other:
   </p>
   <center>
      <a href="{{ url_for('page_faq')}}#pubsub">Publish &amp; Subscribe</a> (PubSub) and
      <a href="{{ url_for('page_faq')}}#rpc">Remote Procedure Calls</a> (RPC)
   </center>
   <p>
      We think applications often
      have a natural <a href="{{ url_for('page_faq')}}#why_rpc_and_pubsub">need for both forms of communication</a>
      and shouldn't be required to use different protocols/means for those. Which is why WAMP provides both.
   </p>
   <p>
      WAMP is easy to use, simple to implement and based on modern Web standards: WebSocket, JSON
      and URIs.
   </p>
   <p>
      While WAMP isn't exactly rocket science, we believe it's good engineering and a major
      step forward in practice that allows developers to create more powerful applications
      with less complexity and in less time.
   </p>
   <a href="#top" class="top">Top</a>
   <br><br>


   <a name="unified_routing"></a>
   <h1>Unified Application Routing</h1>
   <p>
      WAMP provides what we call <b>Unified Application Routing</b> for applications:
      routing of both events (for <a href="{{ url_for('page_faq')}}#pubsub">PubSub</a>)
      <i>and</i> routing of calls (for <a href="{{ url_for('page_faq')}}#rpc">RPC</a>)
      between applications components in <i>one</i> protocol.
   </p>
   <p>
      <b>Unified Routing</b> is probably best explained by contrasting it with legacy approaches. Lets take the
      old "client-server" world. In the client-server model, a remote procedure call goes directly from
      the <i>Caller</i> to the <i>Callee</i>:
   </p>
   <center style="margin: 3em 0 3em 0;">
      <img width="392" src="{{ url_for('static', filename='img/gen/unified_routing_rpc_client_server.svg') }}" />
      <p>Remote procedure calls in the <b>Client-Server</b> model</p>
   </center>
   <p>
      In the client-server model, a <i>Caller</i> needs to have knowledge about where
      the <i>Callee</i> resides and how to reach it.
      This introduces a strong coupling between <i>Caller</i> and <i>Callee</i>. Which is bad, because
      applications can quickly become complex and unmaintainable. We explain how WAMP fixes that in a minute.
   </p>
   <p>
      The problems coming from strong coupling between application components were long recognized and this
      (besides other requirements) lead to the publish-subscribe model.
   </p>
   <p>
      In the publish-subscribe model a <i>Publisher</i> submits information to an abstract "topic", and
      <i>Subscribers</i> only receive information indirectly by announcing their interest on a respective "topic".
      Both do not know about each other. They are decoupled via the "topic" and via an intermediary
      usually called <i>Broker</i>:
   </p>
   <center style="margin: 3em 0 3em 0;">
      <img width="380" src="{{ url_for('static', filename='img/gen/unified_routing_pubsub_broker.svg') }}" />
      <p>A Broker decouples <i>Publishers</i> and <i>Subscribers</i></p>
   </center>
   <p>
      A <i>Broker</i> keeps a book of subscriptions: who is currently subscribed on which topic. When a <i>Subscriber</i>
      publishes some information ("event") to a topic, the <i>Broker</i> will look up who is subscribed on
      that topic. And then forward the information ("event") to all those <i>Subscribers</i>.
   </p>
   <p>
      The act of determining receivers of information (independently of the information submitted) and forwarding
      the information to receivers is called <i>routing</i>.
   </p>
   <p>
      Now, WAMP translates the benefits of loose coupling to RPC. Different from the client-server model,
      WAMP also decouples <i>Callers</i> and <i>Callees</i> by introducing an intermediary - the <i>Dealer</i>:
   </p>
   <center style="margin: 3em 0 3em 0;">
      <img width="380" src="{{ url_for('static', filename='img/gen/unified_routing_rpc_dealer.svg') }}" />
      <p>Remote procedure calls in the <b>Dealer</b> model</p>
   </center>
   <p>
      Similar to a <i>Broker's</i> role with PubSub, the <i>Dealer</i> is responsible for routing a call
      originating from the <i>Caller</i> to the <i>Callee</i> and route back results or errors vice-versa.
      Both do not know about each other: where the peer resides and how to reach it. This knowledge is
      encapsulated in the <i>Dealer</i>
   </p>
   <p>
      With WAMP, a <i>Callee</i> registers a procedure at a <i>Dealer</i> under an abstract name (an URI
      identifying the procedure). When a <i>Caller</i> wants to call a remote procedure, it talks to the
      <i>Dealer</i> and only provides the procedure name plus any call arguments. The <i>Dealer</i> will
      look up the procedure to be invoked in his book of registered procedures. The information from the
      book includes where the <i>Callee</i> implementing the procedure resides, and how to reach it.
   </p>
   <p>
      In effect, <i>Callers</i> and <i>Callees</i> are decoupled, and applications can use RPC and
      still benefit from loose coupling.
   </p>
   <p>
      What if you combine both? Routed RPC and PubSub? When you combine a <i>Broker</i> and a <i>Dealer</i>
      you get what WAMP calls a <i>Router</i>:
   </p>
   <center style="margin: 3em 0 3em 0;">
      <img width="569" src="{{ url_for('static', filename='img/gen/unified_routing_broker_dealer.svg') }}" />
      <p>A <b>Router</b> combines a Broker and a Dealer</p>
   </center>
   <p>
      A <i>Router</i> is capable of routing both calls and events, and hence can support flexible, decoupled
      architectures that use both RPC and PubSub. We think this is new. And a good thing.
   </p>
   <p>
      Here is an example. Imagine you have a small embedded device like an
      <a href="http://tavendo.com/blog/post/arduino-yun-with-autobahn/">Arduino Yun</a> with sensors (like
      a temperature sensor) and actuators (like a light or motor) connected. And you want to integrate
      the device into an overall system with user facing frontend to control the actuators, and continously
      process sensor values in a backend component.
   </p>
   <p>
      Using WAMP, you can have a browser-based UI, the embedded device and your backend talk to each
      other in real-time:
   </p>
   <center style="margin: 3em 0 3em 0;">
      <img width="680" src="{{ url_for('static', filename='img/gen/unified_routing_wamp_iot.svg') }}" />
   </center>
   <p>
      Switching on a light on the device from the browser-based UI is naturally done by calling a
      remote procedure on the device (1). And the sensor values generated by the device continously
      are naturally transmitted to the backend component (and possibly others) via publish &amp; subscribe (2).
   </p>
   <p class="inset">
      "Moving onto the part of Internet of Things, we integrated a sensor (light sensor) and
      an actuator (light switch/dimmer) into a web application. The major feature of the
      sensor (sending data) and that of the actuator (commanding and configuration) perfectly
      match the messaging patterns, Pub/Sub and RPC, which WAMP provides."<br>
      From: <a href="https://into.aalto.fi/download/attachments/12324178/Huang_Fuguo_thesis_2.pdf">Web Technologies for the Internet of Things</a>, Master thesis, July 2013, Huang F.
   </p>
   <p>
      <b>So here you have it: one protocol fulfilling "all" application communication needs.</b>
   </p>
   <a href="#top" class="top">Top</a>
   <br><br>


   <a name="websocket"></a>
   <h1>WebSocket</h1>
   <p>
      <a href="http://tavendo.com/blog/post/websocket-why-what-can-i-use-it/">WebSocket</a> is a new
      Web protocol that overcomes limitations of HTTP when bidirectional, real-time communication
      is required.
   </p>
   <p>
      WebSocket is specified as an <a href="http://tools.ietf.org/html/rfc6455">IETF standard</a>
      and built into <a href="https://github.com/crossbario/crossbar/wiki/Browser-Support">modern browsers</a>.
   </p>
   <p>
      When designing WAMP, we recognized early on that WebSocket would be the ideal basis for WAMP as it
      provides bidirectional real-time messaging that is compatible with the Web and browsers.
      Not only that - we can run WebSocket with non-browser environments as well.
   </p>
   <p>
      However, as such, WebSocket it is quite low-level and only provides raw messaging.
      This is where WAMP enters. WAMP adds the higher level messaging patterns of RPC and PubSub
      to WebSocket.
   </p>
   <p>
      Technically, WAMP is an <a href="http://www.iana.org/assignments/websocket/websocket.xml#subprotocol-name">officially registered</a> <strong>WebSocket subprotocol</strong> (runs on top of WebSocket)
      that uses <strong><a href="http://www.json.org/">JSON</a></strong> as message serialization format.
   </p>
   <p>
      While WAMP-over-WebSocket with JSON serialization is the preferred transport for WAMP, the
      protcol can also run with <a href="http://msgpack.org/">MsgPack</a> as serialization, run over raw-TCP
      or generally any message based, bidirectional, reliable transport.
   </p>
   <p>
      <b>Hence: WAMP runs on the Web and anywhere else.</b>
   </p>
   <a href="#top" class="top">Top</a>
   <br><br>


   <a name="polyglot"></a>
   <h1>Polyglot</h1>
   <p>
      WAMP was designed with first-class support for <a href="{{ url_for('page_implementations') }}">different languages</a>
      in mind (*).
      Nothing in WAMP is specific to a single programming language. As soon as a programming language
      has a WAMP implementation, it can talk to application components written <i>in any other language</i>
      with WAMP support. Transparently.
   </p>
   <p style="font-size: 80%; width: 90%; margin: auto;">
      *: WAMP has facilities for first-class support of many common and less common language features.
      E.g. WAMP can transmit both positional and keyword based call arguments, so that languages which
      natively support keyword arguments in functions (e.g. Python) can be naturally mapped. WAMP even
      supports multi-positional and keywords based <i>return</i> values for calls. E.g. the PostgreSQL
      pgPL/SQL or Oracle PL/SQL languages support this. Means that most PL/SQL functions can be naturally
      exposed via WAMP.
   </p>
   <p>
      The ability to create a system from application components written in different languages is a big
      advantage. You can write your frontend in JavaScript to run in the browser, but still write backend
      components in Python or Java. If you recognize a performance bottleneck in a component, you can
      rewrite that component in a faster language - without changing a single line of code in other
      components.
   </p>
   <p>
      All developers in your team can become productive, since they are not tied to a "least common denominator",
      but can write components in the language they prefer, or which is ideal for the specific components
      at hand. Need some fancy numerical code which is only available in C++ and needs to run with maximum
      performance? No problem. Have the functionality isolated in an application component written in C++,
      and integrate this with components written in your "standard" language.
   </p>
   <p>
      <b>What this means is: plug-and-play your app components - no matter what language.</b>
   </p>
   <a href="#top" class="top">Top</a>

</div>

{% endblock%}
