{% extends "layout_t.html" %}

{% block content %}

<div id="page_wrapper">

   <h1>Why WAMP?</h1>

   <p>
      <a href="http://tools.ietf.org/html/rfc6455">The WebSocket Protocol</a>
      is already built into modern browsers and provides bidirectional,
      low-latency message-based communication.
      However, as such, WebSocket it is quite low-level and only provides raw
      messaging.

   <p>
      Modern Web applications often have a need for <strong>higher level messaging patterns</strong>
      such as <a href="{{url_for('page_faq')}}#rpc">Publish & Subscribe</a> and
      <a href="{{url_for('page_faq')}}#pubsub">Remote Procedure Calls</a>.
   </p>

   <p>
      This is where <i>The WebSocket Application Messaging Protocol (WAMP)</i> enters.
      WAMP adds the higher level messaging patterns of RPC and PubSub to WebSocket
      - <a href="{{url_for('page_faq')}}#why_rpc_and_pubsub">within one protocol</a>.
   </p>

   <p>
      Technically, WAMP is an <a href="http://www.iana.org/assignments/websocket/websocket.xml#subprotocol-name">officially registered</a>
      <strong>WebSocket subprotocol</strong> (runs on top of WebSocket)
      that uses <strong>JSON</strong> as message serialization format.
   </p>

   <p>
      WAMP embraces open Web standards and was designed to be easy to use and
      simple to implement.
   </p>

</div>

{% endblock%}
