{% extends "layout_t.html" %}

{% block header %}
   <title>WAMP Implementations</title>
   <meta name="description" content="Libraries and routers implementing WAMP.">

   <link rel="stylesheet" href="{{ url_for('static', filename='css/page_t_implementations.css') }}">
{% endblock%}

{% block content %}

<div id="page_wrapper">

   <p style="font-size: 140%;">
      Get started with WAMP</a> by choosing <b>client libraries</b> and a <b>router</b>:

      <ul>
         <li>
            To <i>write application components</i> in your favorite language, you will need a <a href="#libraries">WAMP client library</a>
         </li>
         <li>
            To actually <i>run your application</i> consisting of components, you will need a <a href="#routers">WAMP router</a>
         </li>
      </ul>
   </p>
   <br>
   <div style="font-size: 80%; width: 95%; margin: auto;">
      <b>Notes</b><br>
      - You can choose your WAMP router independently of the programming language you want to write your
      components in since routers do not run application code directly.<br>
      - Want your WAMP implementation listed here? Please join the <a href="https://groups.google.com/group/wampws" target="_blank">WAMP group</a> and introduce your project.<br>
      - Looking for <b>WAMP version 1 implementations</b>? Please see <a href="{{ url_for('page_implementations_wamp1') }}">here</a>.
   </div>


   <br><br>
   <a name="libraries"></a>
   <h2>WAMP Libraries</h2>

   <p style="font-size: 80%">
      The following table lists <b>WAMP 2 compliant client library implementations</b>.
      For each implementation, an "x" marks a WAMP role supported by
      the implementation. The last column marks principle support
      for features from <a href="https://github.com/tavendo/WAMP/blob/master/spec/advanced.md">WAMP Advanced Profile</a>.
   </p>

   <table class="wamp2_implementations">
      <tr>
         <td>Library</td>
         <td>Language</td>
         <td class="feature">Publisher</td>
         <td class="feature">Subscriber</td>
         <td class="feature">Caller</td>
         <td class="feature">Callee</td>
         <td>Advanced Profile</td>
      </tr>

      <tr>
         <td><a href="https://github.com/voryx/angular-wamp"><b>Angular</b>WAMP</td>
         <td>JavaScript</td>
         <td>x</td>
         <td>x</td>
         <td>x</td>
         <td>x</td>
         <td>yes</td>
      </tr>
      <tr>
         <td class="notes" colspan="7">
            AngularWAMP is an <a href="https://angularjs.org/">AngularJS</a> wrapper for <a href="http://autobahn.ws/js"><b>Autobahn</b>|JS</a> that
            provides deeper integration for AngularJS apps.
         </td>
      </tr>

      <tr>
         <td><a href="http://autobahn.ws/android"><b>Autobahn</b>|Android</a></td>
         <td>Java</td>
         <td colspan="5">upcoming (currently still at WAMP v1)</td>
      </tr>
      <tr>
         <td class="notes" colspan="7">WAMP Client library for native Android applications.</td>
      </tr>

      <tr>
         <td><a href="https://github.com/tavendo/AutobahnCpp"><b>Autobahn</b>|Cpp</a></td>
         <td>C++</td>
         <td>x</td>
         <td>x</td>
         <td>x</td>
         <td>x</td>
         <td>yes</td>
      </tr>
      <tr>
         <td class="notes" colspan="7">
            C++ 11 implementation using Futures, Continuations and Lambdas.
            Runs on top of <a href="http://www.boost.org/">Boost</a> and <a href="http://think-async.com/">ASIO</a>.
         </td>
      </tr>

      <tr>
         <td><a href="http://autobahn.ws/js"><b>Autobahn</b>|JS</a></td>
         <td>JavaScript</td>
         <td>x</td>
         <td>x</td>
         <td>x</td>
         <td>x</td>
         <td>yes</td>
      </tr>
      <tr>
         <td class="notes" colspan="7">WAMP Client library for both browsers <b>and</b> <a href="http://nodejs.org/">NodeJS</a> using Promises (<a href="https://github.com/cujojs/when">when</a>, <a href="https://github.com/kriskowal/q">Q</a>, <a href="http://api.jquery.com/category/deferred-object/">jQuery</a> or <a href="http://www.html5rocks.com/en/tutorials/es6/promises/">ES6</a>).</td>
      </tr>

      <tr>
         <td><a href="http://autobahn.ws/python"><b>Autobahn</b>|Python</a></td>
         <td>Python</td>
         <td>x</td>
         <td>x</td>
         <td>x</td>
         <td>x</td>
         <td>yes</td>
      </tr>
      <tr>
         <td class="notes" colspan="7">WAMP Client library and WebSocket implementation, runs under Python 2 and 3, on <a href="https://twistedmatrix.com">Twisted</a> and <a href="https://docs.python.org/3/library/asyncio.html">asyncio</a>.</td>
      </tr>

      <tr>
         <td><a href="https://github.com/darrrk/backbone.wamp"><strong>backbone.WAMP</strong></a></td>
         <td>JavaScript</td>
         <td>x</td>
         <td>x</td>
         <td>x</td>
         <td>x</td>
         <td>yes</td>
      </tr>
      <tr>
         <td class="notes" colspan="7">Allows two-way synchronisation of Backbone models & collections between frontends and backends. Uses <a href="http://autobahn.ws/js">AutobahnJS</a></td>
      </tr>

      <tr>
         <td><a href="https://github.com/ecorm/cppwamp"><b>CppWAMP</b></a></td>
         <td>C++11</td>
         <td>x</td>
         <td>x</td>
 -       <td>x</td>
         <td>x</td>
         <td>yes</td>
      </tr>
      <tr>
         <td class="notes" colspan="7">CppWAMP is a WAMP V2 iplementation in C++11</td>
      </tr>


      <tr>
         <td><a href="https://github.com/bwegh/erwa"><b>Erwa</b></a></td>
         <td>Erlang</td>
         <td>x</td>
         <td>x</td>
 -       <td>x</td>
         <td>x</td>
         <td>no</td>
      </tr>
      <tr>
         <td class="notes" colspan="7">Erwa is a WAMP V2 implementation in <a href="http://www.erlang.org/">Erlang</a>, both Client and Router roles.</td>
      </tr>

      <tr>
         <td><a href="https://github.com/Matthias247/jawampa"><b>jawampa</b></a></td>
         <td>Java</td>
         <td>x</td>
         <td>x</td>
         <td>x</td>
         <td>x</td>
         <td>no</td>
      </tr>
      <tr>
         <td class="notes" colspan="7">A Java WAMP implementation based on <a href="http://netty.io/">Netty</a> and <a href="https://github.com/ReactiveX/RxJava">RxJava</a>. Both Client and Router roles.</td>
      </tr>


      <tr>
         <td><a href="https://github.com/KSDaemon/Loowy"><b>Loowy</b></a></td>
         <td>Lua</td>
         <td>x</td>
         <td>x</td>
         <td>x</td>
         <td>x</td>
         <td>yes</td>
      </tr>
      <tr>
         <td class="notes" colspan="7">LUA WAMP client implementation on top of lua-websockets and lib-ev
      </tr>

      <tr>
         <td><a href="https://github.com/mogui/MDWamp"><b>MDWamp</b></a></td>
         <td>Objective-C</td>
         <td>x</td>
         <td>x</td>
         <td>x</td>
         <td>x</td>
         <td>yes</td>
      </tr>
      <tr>
         <td class="notes" colspan="7">
            MDWamp is WAMP client library for iOS apps that uses <a href="https://github.com/square/SocketRocket">SocketRocket</a> as underlying WebSocket implementation.
         </td>
      </tr>

      <tr>
         <td><a href="https://github.com/Vinelab/minion"><b>Minion</b></a></td>
         <td>PHP</td>
         <td>x</td>
         <td>x</td>
         <td>x</td>
         <td>x</td>
         <td>no</td>
      </tr>
      <tr>
         <td class="notes" colspan="7">A simple and flexible WAMP v2 client and command line tool with <a href="http://laravel.com/">Laravel</a> support, based on <a href="https://github.com/voryx/Thruway">Thruway</a>.</td>
      </tr>

      <tr>
         <td><a href="https://github.com/paulpdaniels/rx.wamp"><b>rx.wamp</b></a></td>
         <td>JavaScript</td>
         <td>x</td>
         <td>x</td>
         <td>x</td>
         <td>x</td>
         <td>yes</td>
      </tr>
      <tr>
         <td class="notes" colspan="7">A Reactive (<a href="https://github.com/Reactive-Extensions/RxJS">RxJS</a>) wrapper library for WAMP, using <a href="http://autobahn.ws/js/">AutobahnJS</a> and running in the browser and NodeJS.</td>
      </tr>


      <tr>
         <td><a href="https://github.com/voryx/Thruway"><b>Thruway</b></a></td>
         <td>PHP</td>
         <td>x</td>
         <td>x</td>
         <td>x</td>
         <td>x</td>
         <td>yes</td>
      </tr>
      <tr>
         <td class="notes" colspan="7">Thruway is a WAMP library built in PHP that provides both Client and Router roles.</td>
      </tr>

      <tr>
         <td><a href="https://github.com/rafzi/WAMP_POCO"><b>WAMP_POCO</b></a></td>
         <td>C++</td>
         <td>x</td>
         <td>x</td>
         <td>x</td>
         <td>x</td>
         <td>yes</td>
      </tr>
      <tr>
         <td class="notes" colspan="7">A fork of <a href="https://github.com/rafzi/WAMP_POCO">AutobahnCpp</a> that is using <a href="http://pocoproject.org/">POCO</a> instead of Boost. Uses JSON + WebSocket, with ticket and WAMP-CRA authentication available.
      </tr>

      <tr>
         <td><a href="https://github.com/Code-Sharp/WampSharp"><b>WampSharp</b></a></td>
         <td>C#</td>
         <td>x</td>
         <td>x</td>
         <td>x</td>
         <td>x</td>
         <td>no</td>
      </tr>
      <tr>
         <td class="notes" colspan="7">C# implementation of WAMP: both client and router roles, both JSON
            and <a href="http://msgpack.org/">MsgPack</a> support.</td>
      </tr>
     
      <tr>
         <td><a href="https://github.com/KSDaemon/wampy.js"><b>wampy</b>.js</a></td>
         <td>JavaScript</td>
         <td>x</td>
         <td>x</td>
         <td>x</td>
         <td>x</td>
         <td>yes</td>
      </tr>
      <tr>
         <td class="notes" colspan="7">WAMP Client library for browsers using callbacks. See <a href="https://github.com/KSDaemon/wampy.js#quick-comparison-to-other-libs">here</a> for comparison to Autobahn|JS.</td>
      </tr>
     
   </table>


   <br><br>
   <a name="routers"></a>
   <h2>WAMP Routers</h2>

   <p style="font-size: 80%">
      The following table lists <b>WAMP 2 compliant router implementations</b>.
      For each implementation, an "x" marks a WAMP role supported by
      the implementation. The last column marks principle support
      for features from WAMP "Advanced Profile".
   </p>

   <table class="wamp2_implementations" style="width: 97%">
      <tr>
         <td>Router</td>
         <td class="feature">Broker</td>
         <td class="feature">Dealer</td>
         <td>Advanced Profile</td>
      </tr>

      <tr>
         <td><a href="https://github.com/crossbario/crossbar"><b>Crossbar</b>.io</a></td>
         <td>x</td>
         <td>x</td>
         <td>yes</td>
      </tr>
      <tr>
         <td class="notes" colspan="4">
            Crossbar.io is an advanced, open-source WAMP router made and supported by <a href="http://tavendo.com">Tavendo</a> (creators of WAMP and Autobahn).</td>
      </tr>

      <tr>
         <td><a href="https://github.com/bwegh/erwa"><b>Erwa</b></a></td>
         <td>x</td>
         <td>x</td>
         <td>no</td>
      </tr>
      <tr>
         <td class="notes" colspan="4">Erwa is a WAMP V2 implementation in <a href="http://www.erlang.org/">Erlang</a>, both Client and Router roles.</td>
      </tr>

      <tr>
         <td><a href="https://github.com/Matthias247/jawampa"><b>jawampa</b></a></td>
         <td>x</td>
         <td>x</td>
         <td>no</td>
      </tr>
      <tr>
         <td class="notes" colspan="4">A Java WAMP implementation based on <a href="http://netty.io/">Netty</a> and <a href="https://github.com/ReactiveX/RxJava">RxJava</a>. Both Client and Router roles.</td>
      </tr>

      <tr>
         <td><a href="https://github.com/voryx/Thruway"><b>Thruway</b></a></td>
         <td>x</td>
         <td>x</td>
         <td>yes</td>
      </tr>
      <tr>
         <td class="notes" colspan="4">Thruway is a WAMP library built in PHP that provides both Client and Router roles.</td>
      </tr>

      <tr>
         <td><a href="https://github.com/Orange-OpenSource/wamp.rt"><b>wamp.rt</b></a></td>
         <td>x</td>
         <td>x</td>
         <td>no</td>
      </tr>
      <tr>
         <td class="notes" colspan="4">Router only implementation for <a href="http://nodejs.org/">NodeJS</a> created by <a href="http://opensource.orange.com/home">Orange</a> open-source efforts.</td>
      </tr>

      <tr>
         <td><a href="https://github.com/Code-Sharp/WampSharp"><b>WampSharp</b></a></td>
         <td>x</td>
         <td>x</td>
         <td>no</td>
      </tr>
      <tr>
         <td class="notes" colspan="4">C# router implementation (client roles are also supported). JSON and <a href="http://msgpack.org/">MsgPack</a> support.</td>
      </tr>

      <tr>
         <td><a href="http://ksdaemon.github.io/wiola/"><b>Wiola</b></a></td>
         <td>x</td>
         <td>x</td>
         <td>yes</td>
      </tr>
      <tr>
         <td class="notes" colspan="4">
            Router implementation in <a href="http://www.lua.org/">Lua</a>, using the power of Lua <a href="http://nginx.org/">nginx</a> module, Lua WebSocket addon,
            and <a href="http://redis.io/">Redis</a> as cache store.
         </td>
      </tr>

      <tr>
         <td><a href="https://github.com/christian-raedel/nightlife-rabbit"><b>Nightlife-Rabbit</b></a></td>
         <td>x</td>
         <td>x</td>
         <td>no</td>
      </tr>
      <tr>
         <td class="notes" colspan="4">Router implementation for <a href="http://nodejs.org/">NodeJS</a>, MIT licensed.</td>
      </tr>

   </table>

   <div style="clear: both;"></div>

</div>

{% endblock%}
